{% extends 'base.html' %}
{% load static %}

{% block menu %}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-link active" aria-current="page" href="{% url 'index_view' %}">Home</a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container mx-5">
  <h5>Редактировать запись</h5>
  <hr class="line">
  <form action="" method="POST" >
      {% csrf_token %}
      {% include 'partial/record_form.html' with button_text='Редактировать запись' record=record %}
  
  </form>
</div>

{% endblock %}