{% extends 'base.html' %}
{% load static %}

{% block menu %}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-link active" aria-current="page" href="{% url 'add_record' %}">Add</a>
  </div>
</div>
{% endblock %}

{% block content %}


<form action="" method="POST">
  {% csrf_token %}
  <label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
  <p>{{form.name}}</p>
  <p>{{form.name.errors}}</p>
  <button type="submit" class="btn btn-primary" value="Поиск"> Искать по имени</button>
  <a class="btn btn-secondary" href="{% url 'index_view' %}">Полный список</a>
</form>


<div class="row">
    <div class="col-sm-8">
    {% for record in records %}
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">{{record.name}} ({{record.email}}) 
            <a href="{% url 'edit_record' record.id %}"><i class="bi bi-pen"></i></a>
            <a href="{% url 'confirm_delete' record.id %}"><i class="bi bi-trash3"></i></a>
          </h5>
          <p class="card-text"> {{record.text}} </p>
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}
